<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bollywood movies</title>
    <style>
        table{
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
            font-family: Arial,  sans-serif;
        }
        th, td{
            border:1 px solid darkgoldenrod;
            padding: 10px;
            text-align: center;
        }
        th{
            background-color: #f4f4f4;
             font-weight: bold;
        }
        tr:nth-child(even){
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
     <h2 style="text-align: center;">Movies List    </h2>
     <table><thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Category</th>
            <th>Actor</th>
        </tr>
     </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Jawan</td>
            <td>Action</td>
            <td>Sharukh Khan</td>
        </tr>
         <tr>
            <td>2</td>
            <td>Sholay</td>
            <td>Classic</td>
            <td>Amitabh Bachan</td>
        </tr>
         <tr>
            <td>3</td>
            <td>3 idiots</td>
            <td>Comedy</td>
            <td>sanjay Dutt</td>
        </tr>
    </tbody></table>
</body>
</html>