<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL Team</title>
</head>
<body>
    <h1>Chennai Super Kings</h1>
    <h2>Captain:{{captain}}</h2>
    <h1>Team Member</h1>
    {% for i in team  %}
        <ul>
            <li>{{i}}</li>
        </ul>
    {% endfor %}

    {% if Trophy >= 5 %}
        <h1>Legendry</h1>
    {% else %} 
        <h1>Normal Team</h1>
    {% endif %}
</body>
</html>