<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><b> Teachers Info</b></h1>
    <h3><ul>
        <h1>Teacher1</h1>
        <li>Name: {{teacher1}} </li>
        <li>Subject: {{sub1}} </li>
        <li>Qualification: {{qual1}} </li> 
        <h1>Teacher2</h1>
        <li>Name: {{teacher2}} </li>
        <li>Subject: {{sub2}} </li>
        <li>Qualification: {{qual2}} </li>
        <h1>Teacher3</h1>
        <li>Name: {{teacher3}} </li>
        <li>Subject: {{sub3}} </li>
        <li>Qualification: {{qual3}} </li>
    </ul></h3>
</body>
</html>